.idea/
dist
.sourcemaps
node_modules/
xcuserdata/
node_modules/
cli/dist/commands/copy.js
Pods/
test_project/
*.map
.DS_Store
Podfile.lock
example/www/
example/electron/www/*
example/electron/capacitor.config.json
example/android/app/src/main/assets/public/*
!example/android/app/src/main/assets/public/.gitkeep
example/ios/IonicRunner/public/*
!example/ios/IonicRunner/public/.gitkeep
Build/*
Index/
.*.sw*
site/www
android-template.iml
!/build/.npmkeep
lerna-debug.log
capacitor-ios/
local.properties
contents.xcworkspacedata
.stencil/
android-template/.gradle/
android-template/app/app.iml
/site/.env
/site/.firebase
.gradle/
.settings/
.project
android/.gradle/
android/build/
android/*.iml
android/.idea/workspace.xml
android/.idea/tasks.xml
android/.idea/gradle.xml
android/.idea/assetWizardSettings.xml
android/.idea/dictionaries
android/.idea/libraries
# Android Studio 3 in .gitignore file.
android/.idea/caches
android/.idea/modules.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
android/.idea/navEditor.xml
ios/Plugin.xcworkspace/xcuserdata/queaujeanpierre.xcuserdatad/UserInterfaceState.xcuserstate
android/.idea/workspace.xml
